/* start variables */
:root {
  --main-color: #3f3fe8;
  --grey-font: #b5adad;
  --main-font: "Roboto Slab", serif;
  --main-dark-color: #1e1e1e;
  overflow: hidden auto;
}
/* end varibales */
/* start global rules */
* {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
}
html {
  scroll-behavior: smooth;
}
body {
  position: relative;
  font-family: var(--main-font);
  overflow: hidden visible;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/* small*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/*large*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
body::-webkit-scrollbar {
  width: 15px;
}
body::-webkit-scrollbar-button {
  display: none;
}
body::-webkit-scrollbar-thumb {
  background-color: #777;
}
body::-webkit-scrollbar-track {
  background-color: var(--main-dark-color);
}
/* end global rules */
/* start components */
.main-heading {
  margin: 35px auto;
  text-align: center;
  font-size: 2em;
  color: var(--main-color);
  background: #ffffff1a;
  backdrop-filter: blur(25px);
  border-radius: 5px 0;
  width: fit-content;
  padding: 5px 10px;
}
/* end components */
/* start main */
.main {
  position: relative;
}
.main .background {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: inline-flex;
}
.main .background img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: brightness(0.5) grayscale(0.1);
  transition: 0.4s;
}
.main .background img.small {
  display: none;
}
.image-desactive {
  filter: brightness(0.5) grayscale(0.1) blur(10px);
  opacity: 0;
}
.main .container {
  background-color: transparent;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
}
.main .main-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.main .main-nav > a {
  font-family: "Aref Ruqaa Ink", serif;
  font-size: 25px;
  background-image: linear-gradient(45deg, #ffffff, #5eb6fc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 15px;
  font-weight: bold;
}
.main .main-nav ul {
  display: flex;
  gap: 30px;
}
.main .main-nav ul a {
  position: relative;
  padding: 11px 0;
  display: block;
  text-transform: capitalize;
  font-size: 18px;
  color: white;
}
.main .main-nav ul li {
  overflow: hidden;
}
.main .main-nav ul a:before {
  position: absolute;
  content: "";
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 1px;
  background-color: white;
  transition: 0.2s;
}
.main .main-nav ul a:hover:before {
  left: 0;
}
.main .main-nav #contact-btn {
  position: relative;
  padding: 10px;
  border: 1px solid;
  border-color: white transparent white white;
}
.main .main-nav #contact-btn::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background-color: var(--main-color);
  z-index: -1;
  height: 100%;
  width: 0;
  transition: 0.3s;
  filter: blur(px);
}
.main .main-nav #contact-btn:hover:after {
  width: 100%;
}
.main .main-text {
  margin: 40px 0;
  width: 50vw;
}
.main .main-text p {
  font-size: 60px;
  margin-bottom: 30px;
  color: white;
}
.main .main-text span {
  color: var(--main-color);
}
.main .main-text a {
  position: relative;
  color: var(--main-color);
  font-size: 20px;
  font-style: italic;
  z-index: 2;
  border-radius: 2px;
}
.main .main-text a::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 70px;
  background-color: white;
  top: 50%;
  right: -90px;
  transform: translatey(75%);
}
.main .fields {
  height: 230px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 50px;
  align-items: flex-end;
}
.main .fields .field {
  width: calc(100% / 6);
  padding: 5px;
  backdrop-filter: blur(15px);
  background: #ffffff2e;
  border-radius: 2px;
  display: flex;
  gap: 4px;
  flex-direction: column;
  height: 65px;
  overflow: hidden;
  transition: height 0.4s;
}
.main .fields .number {
  color: var(--grey-font);
  margin-bottom: 2px;
}
.main .fields h3 {
  font-size: 16px;
  color: white;
  margin-bottom: 20px;
}
.main .fields .field p:last-child {
  font-size: 14px;
  color: var(--grey-font);
}
.active-field {
  height: 100% !important;
}
.main .burger {
  display: none;
}
@media (max-width: 992px) {
  .main .burger {
    display: block;
  }
  .main .burger i {
    display: none;
    color: white;
    font-size: 25px;
    cursor: pointer;
  }
  .main .burger i.active-mark {
    display: block;
  }
  .main .main-nav ul {
    display: none;
    position: absolute;
    flex-direction: column;
    width: 100%;
    top: 120px;
    background: #b5adad38;
    backdrop-filter: blur(16px);
    padding: 10px;
    opacity: 0;
  }
  .main .main-nav ul.active-menu {
    display: flex;
    opacity: 1;
    top: 50px;
    transition: 3s;
  }
  .main .main-nav ul a {
    position: relative;
    padding: 10px;
    border: none !important;
  }
  .main .main-nav ul a::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background-color: var(--main-color);
    z-index: -1;
    height: 100%;
    width: 0;
    transition: 0.3s;
    filter: blur(12px);
  }
  .main .main-nav ul a:hover:after {
    width: 100%;
  }
  .main .main-text {
    width: 100%;
  }
  .main .fields {
    display: none;
  }
  .main .container {
    justify-content: initial;
  }
  .main .container .main-text {
    margin: 15vh 0;
  }
}
@media (max-width: 768px) {
  .main .background img {
    display: none;
  }
  .main .background img.small {
    display: block !important;
  }
  .main .container .main-text {
    width: 100%;
    margin: 10vh 0;
  }
}
/* end main */
/* start settings */
.settings-box {
  position: absolute;
  color: white;
  right: -290px;
  display: flex;
  top: 20%;
  transition: 0.3s;
  z-index: 21;
}
.settings-box.active {
  right: 0;
}
.settings-box .gear {
  padding: 5px;
  background: #ffffff47;
  backdrop-filter: blur(10px);
  align-self: flex-start;
  border-radius: 2px 0 0 2px;
}
.settings-box i {
  cursor: pointer;
  font-size: 20px;
}
.settings-box i:hover {
  animation: rotate 1s infinite;
}
@keyframes rotate {
  to {
    transform: rotate(365deg);
  }
}
.settings-box .settings {
  padding: 10px;
  background: #ffffff47;
  backdrop-filter: blur(10px);
  border-radius: 0 0 0 2px;
  height: fit-content;
  width: 290px;
}
.settings-box .settings .title {
  letter-spacing: 1.5px;
  text-decoration: underline;
}
.settings-box .settings .main-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.settings-box .settings .main-list h4 {
  letter-spacing: 2px;
  margin-bottom: 5px;
}
.settings-box .settings .main-list .color-list {
  display: flex;
  gap: 20px;
  padding: 10px 0;
  margin-left: 35px;
}
.settings-box .settings .main-list .color-list li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid;
  cursor: pointer;
  transition: 0.5s;
  opacity: 0.6;
}
.settings-box .settings .main-list .color-list li.checked {
  border-radius: 0;
  opacity: 1;
}
.color-list #blue-color {
  background-color: #3f3fe8;
}
.color-list #purple-color {
  background-color: #9b3de0;
}
.color-list #red-color {
  background-color: #e63a3a;
}
.color-list #green-color {
  background-color: #3dab37;
}
.settings-box .settings .main-list .font-list {
  --point-position: 27px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 35px;
}
.settings-box .settings .main-list .font-list::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background: white;
  left: -15px;
  border-radius: 50%;
  top: var(--point-position);
  transition: 0.3s;
}
.settings-box .settings .main-list .font-list li {
  cursor: pointer;
}
.settings-box .settings .main-list .buttons {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  margin-top: 10px;
}
.settings-box .settings .main-list .buttons input {
  border: 1px solid white;
  padding: 7px 0;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  width: 70px;
}
.main-list .buttons input[value="Save"] {
  background-color: #3f3fe8;
}
.main-list .buttons input[value="Reset"] {
  background-color: #e63a3a;
}
/* end settings */
/* start about */
#about {
  position: relative;
  background-color: var(--main-dark-color);
  padding: 50px 0;
}
#about .small-circle {
  position: absolute;
  width: 30px;
  height: 30px;
  background: var(--main-color);
  right: 30px;
  border-radius: 50%;
  top: 20px;
  z-index: 1;
}
#about .big-circle {
  position: absolute;
  width: 50px;
  height: 50px;
  background: var(--main-color);
  right: 90px;
  border-radius: 50%;
  top: 40px;
  z-index: 1;
}
#about .triangle {
  position: absolute;
  width: 75px;
  height: 75px;
  background: #ffffff2e;
  right: 40px;
  top: 25px;
  backdrop-filter: blur(5px);
  transform: rotate(45deg);
  border-radius: 3px;
  z-index: 2;
}
#about .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#about .text {
  width: 65%;
}
#about .text h2 {
  margin-bottom: 15px;
  color: var(--main-color);
  font-size: 30px;
}
#about .text p {
  color: var(--grey-font);
  line-height: 2;
  font-size: 1.05em;
}
#about .image {
  position: relative;
  z-index: 0;
}
#about .image::before {
  position: absolute;
  content: "";
  height: 50px;
  width: 20px;
  border-color: var(--main-color);
  border-width: 0 0 70px 40px;
  border-style: solid;
  z-index: -1;
  bottom: -16px;
  left: -10px;
  border-radius: 2px;
}
#about .image img {
  width: 240px;
  border-radius: 3px;
}
@media (max-width: 768px) {
  #about .container {
    flex-direction: column;
  }
  #about .image {
    display: none;
  }
  #about .text {
    width: 100%;
  }
  #about .text h2 {
    margin-bottom: 30px;
  }
}
/* end about */
/* start skills */
#skills {
  width: 100%;
  overflow: hidden;
  background-image: url(../images/skills.jpg);
  background-position: center;
  background-size: cover;
  padding: 50px 0;
}
#skills .skills {
  margin: 20px 0;
  border-radius: 2px;
  background: #ffffff1a;
  backdrop-filter: blur(30px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
#skills .skills .skill {
  display: flex;
  align-items: center;
}
#skills .skills .skill .skill-name {
  color: var(--grey-font);
  width: 10%;
}
#skills .skills .skill .skill-percent {
  width: 90%;
  background: #b5adad5e;
  border-radius: 2px;
  height: 25px;
  overflow: hidden;
}
#skills .skills .skill .skill-percent span {
  height: 100%;
  display: block;
  width: 0;
  background: var(--main-color);
  transition-delay: 0.1s;
  transition-duration: 0.7s;
}
@media (max-width: 992px) {
  #skills {
    padding: 30px 0;
  }
  #skills .skills {
    padding: 10px;
  }
  #skills .skills .skill .skill-name {
    width: 27%;
  }
  #skills .skills .skill .skill-percent {
    width: 73%;
  }
}
/* end skills */
/* start gallery */
#gallery {
  padding: 50px 0;
  background-color: var(--main-dark-color);
  position: relative;
}
#gallery .container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 0;
}
#gallery .container img {
  min-width: 220px;
  border: 5px solid var(--main-color);
  flex: 1;
  cursor: pointer;
}
/******popup******/
#gallery .popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #111111bb;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
#gallery .popup .photo {
  position: relative;
  border: 5px solid var(--main-color);
  height: 60%;
}
#gallery .popup .description {
  position: absolute;
  bottom: 0;
  padding: 3% 0;
  width: 100%;
  text-align: center;
  color: var(--main-color);
  font-size: 1.2em;
  background: #ffffff12;
  backdrop-filter: blur(10px);
}
#gallery .popup i {
  position: absolute;
  width: 30px;
  height: 30px;
  background: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--main-dark-color);
  top: -15px;
  right: -15px;
  cursor: pointer;
  font-size: 20px;
}
#gallery .popup img {
  height: 99%;
}
@media (max-width: 768px) {
  #gallery .popup .photo {
    height: 30%;
    width: 95%;
  }
}
/* end gallery */
/* start timeline */
#timeline {
  padding: 20px 0;
  background: var(--main-dark-color);
  color: white;
}
#timeline .boxes {
  position: relative;
  margin: 0 100px;
}
#timeline .boxes::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 100%;
  background: var(--main-color);
  left: 50%;
  transform: translateX(-50%);
}
#timeline .boxes .date {
  position: relative;
  text-align: center;
  margin: 20px auto;
  width: fit-content;
  background: var(--main-color);
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 5;
}
#timeline .text {
  position: relative;
  width: 325px;
  margin-bottom: 20px;
  padding: 10px;
  background: #444343;
}
#timeline .text h3 {
  margin-bottom: 10px;
  color: var(--main-color);
}
#timeline .text p {
  line-height: 1.2;
}
#timeline .text::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #444343;
  border: 2px solid var(--main-color);
  right: -55px;
  top: 14px;
}
#timeline .text::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  transform: rotate(45deg);
  border: 8px solid #444343;
  right: -8px;
  top: 15px;
}
#timeline .right {
  float: right;
}
#timeline .right::before {left: -8px;}
#timeline .right::after {right: 0;left: -55px;top: 13px;}
#timeline .clear {
  clear: both;
}
/* end timeline */
