/* start variables */
:root {
  --main-color: #3f3fe8;
  --grey-font: #b5adad;
  --main-font: "Roboto Slab", serif;
}
/* end varibales */
/* start global rules */
* {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
}
html {
  scroll-behavior: smooth;
}
body {
  position: relative;
  font-family: var(--main-font);
  overflow: hidden;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/* small*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/*large*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* end global rules */
/* start components */

/* end components */
/* start main */
.main .background {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: inline-flex;
}
.main .background img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: brightness(0.5) grayscale(0.1);
  transition: 0.4s;
}
.main .background img.small {
  display: none;
}
.image-desactive {
  filter: brightness(0.5) grayscale(0.1) blur(10px);
  opacity: 0;
}
.main .container {
  background-color: transparent;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  top: 0;
  left: 0;
  z-index: 20;
}
.main .main-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .main-nav > a {
  font-family: "Aref Ruqaa Ink", serif;
  font-size: 25px;
  background-image: linear-gradient(45deg, #ffffff, #5eb6fc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 15px;
  font-weight: bold;
}
.main .main-nav ul {
  display: flex;
  gap: 30px;
}
.main .main-nav ul a {
  position: relative;
  padding: 11px 0;
  display: block;
  text-transform: capitalize;
  font-size: 18px;
  color: white;
}
.main .main-nav ul li {
  overflow: hidden;
}
.main .main-nav ul a:before {
  position: absolute;
  content: "";
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 1px;
  background-color: white;
  transition: 0.2s;
}
.main .main-nav ul a:hover:before {
  left: 0;
}
.main .main-nav #contact-btn {
  position: relative;
  padding: 10px;
  border: 1px solid;
  border-color: white transparent white white;
}
.main .main-nav #contact-btn::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background-color: var(--main-color);
  z-index: -1;
  height: 100%;
  width: 0;
  transition: 0.3s;
  filter: blur(px);
}
.main .main-nav #contact-btn:hover:after {
  width: 100%;
}
.main .main-text {
  margin: 50px 0;
  width: 50vw;
}
.main .main-text p {
  font-size: 60px;
  margin-bottom: 30px;
  color: white;
}
.main .main-text span {
  color: var(--main-color);
}
.main .main-text a {
  position: relative;
  color: var(--main-color);
  font-size: 20px;
  font-style: italic;
  z-index: 2;
  border-radius: 2px;
}
.main .main-text a::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 70px;
  background-color: white;
  top: 50%;
  right: -90px;
  transform: translatey(75%);
}
.main .fields {
  height: 205px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 50px;
  align-items: flex-end;
}
.main .fields .field {
  width: calc(100% / 6);
  padding: 5px;
  backdrop-filter: blur(15px);
  background: #ffffff2e;
  border-radius: 2px;
  display: flex;
  gap: 4px;
  flex-direction: column;
  height: 70px;
  overflow: hidden;
  transition: height 0.4s;
}
.main .fields .number {
  color: var(--grey-font);
  margin-bottom: 2px;
}
.main .fields h3 {
  font-size: 16px;
  color: white;
  margin-bottom: 20px;
}
.main .fields .field p:last-child {
  font-size: 14px;
  color: var(--grey-font);
}
.active-field {
  height: 100% !important;
}
.main .burger {
  display: none;
}
@media (max-width: 992px) {
  .main .burger {
    display: block;
  }
  .main .burger i {
    display: none;
    color: white;
    font-size: 25px;
    cursor: pointer;
  }
  .main .burger i.active-mark {
    display: block;
  }
  .main .main-nav ul {
    display: none;
    position: absolute;
    flex-direction: column;
    width: 100%;
    top: 50px;
    background: #b5adad38;
    backdrop-filter: blur(16px);
    padding: 10px;
  }
  .main .main-nav ul.active-menu {
    display: flex;
  }
  .main .main-nav ul a {
    position: relative;
    padding: 10px;
    border: none !important;
  }
  .main .main-nav ul a::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background-color: var(--main-color);
    z-index: -1;
    height: 100%;
    width: 0;
    transition: 0.3s;
    filter: blur(12px);
  }
  .main .main-nav ul a:hover:after {
    width: 100%;
  }
  .main .main-text {
    width: 100%;
  }
  .main .fields {
    display: none;
  }
  .main .container {
    justify-content: initial;
  }
  .main .container .main-text {
    margin: 15vh 0;
  }
}
@media (max-width: 768px) {
  .main .background img {
    display: none;
  }
  .main .background img.small {
    display: block !important;
  }
  .main .container .main-text {
    width: 100%;
    margin: 10vh 0;
  }
}
/* end main */
/* start settings */
.settings-box {
  position: absolute;
  color: white;
  right: -290px;
  display: flex;
  top: 20%;
  transition: 0.3s;
  z-index: 21;
}
.settings-box.active {
  right: 0;
}
.settings-box .gear {
  padding: 5px;
  background: #ffffff47;
  backdrop-filter: blur(10px);
  align-self: flex-start;
  border-radius: 2px 0 0 2px;
}
.settings-box i {
  cursor: pointer;
  font-size: 20px;
}
.settings-box i:hover {
  animation: rotate 1s infinite;
}
@keyframes rotate {
  to {
    transform: rotate(365deg);
  }
}
.settings-box .settings {
  padding: 10px;
  background: #ffffff47;
  backdrop-filter: blur(10px);
  border-radius: 0 0 0 2px;
  height: fit-content;
  width: 290px;
}
.settings-box .settings .title {
  letter-spacing: 1.5px;
  text-decoration: underline;
}
.settings-box .settings .main-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.settings-box .settings .main-list h4 {
  letter-spacing: 2px;
  margin-bottom: 5px;
}
.settings-box .settings .main-list .color-list {
  display: flex;
  gap: 20px;
  padding: 10px 0;
  margin-left: 35px;
}
.settings-box .settings .main-list .color-list li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid;
  cursor: pointer;
}
.color-list #blue-color {
  background-color: #3f3fe8;
}
.color-list #purple-color {
  background-color: #e434e4;
}
.color-list #red-color {
  background-color: #e63a3a;
}
.color-list #green-color {
  background-color: #3dab37;
}
.settings-box .settings .main-list .font-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 35px;
}
.settings-box .settings .main-list .font-list li {
  cursor: pointer;
}
.settings-box .settings .main-list .buttons {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  margin-top: 10px;
}
.settings-box .settings .main-list .buttons input {
  border: 1px solid white;
  padding: 7px 0;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  width: 70px;
}
.main-list .buttons input[value="Save"] {
  background-color: #3f3fe8;
}
.main-list .buttons input[value="Cancel"] {
  background-color: #e63a3a;
}
/* end settings */
